R/.ipynb_checkpoints/R_Introduction-checkpoint.ipynb
GUI/.ipynb_checkpoints/ui_imagedialog-checkpoint.ui
OOP/.ipynb_checkpoints/OOP-checkpoint.ipynb
Python/.ipynb_checkpoints/Caching-checkpoint.ipynb
Python/.ipynb_checkpoints/Decorator-checkpoint.ipynb
Python/.ipynb_checkpoints/Decorator-checkpoint.py
